<div class="page-angels">
  <div class="container">
    <div class="intro">
      <p>{{__ 'angels-intro-1'}}</p>
      <p>{{__ 'angels-intro-2'}}</p>
    </div>
    <div class="list1 table-responsive">
      <table class="table table-bordered table-hover text-center">
        <thead>
          <tr>
            <th class="text-center">{{__ 'angels-id-num'}}</th>
            <th class="text-center">{{__ 'angels-reits-share'}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>11************1929</td>
            <td>40</td>
          </tr>
          <tr>
            <td>43************5722</td>
            <td>120</td>
          </tr>
          <tr>
            <td>42************8318</td>
            <td>40</td>
          </tr>
          <tr>
            <td>11************1517</td>
            <td>40</td>
          </tr>
          <tr>
            <td>21************0517</td>
            <td>80</td>
          </tr>
          <tr>
            <td>11************5911</td>
            <td>40</td>
          </tr>
          <tr>
            <td>11************2014</td>
            <td>40</td>
          </tr>
          <tr>
            <td>43************0021</td>
            <td>120</td>
          </tr>
          <tr>
            <td>11************3035</td>
            <td>120</td>
          </tr>
          <tr>
            <td>21************283x</td>
            <td>40</td>
          </tr>
          <tr>
            <td>11************4912</td>
            <td>80</td>
          </tr>
          <tr>
            <td>46************0032</td>
            <td>40</td>
          </tr>
          <tr>
            <td>12************0814</td>
            <td>40</td>
          </tr>
          <tr>
            <td>11************6832</td>
            <td>40</td>
          </tr>
          <tr>
            <td>14************0040</td>
            <td>40</td>
          </tr>
          <tr>
            <td>53************3719</td>
            <td>40</td>
          </tr>
          <tr>
            <td>11************2030</td>
            <td>40</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="list2 table-responsive">
      <table class="table table-bordered table-hover text-center">
        <thead>
          <tr>
            <th class="text-center">{{__ 'angels-other'}}</th>
            <th class="text-center">{{__ 'angels-reits-share'}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{__ 'angels-reits-team'}}</td>
            <td>8000</td>
          </tr>
          <tr>
            <td>{{__ 'angels-presale'}}</td>
            <td>1000</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}
