<div class="page-explorer-announce">
  <div class="container">
    <div class="info">
      <div class="detail">
        <div>
          <span>资产名：</span>
          {{asset.name}}
        </div>
        <div>
          <span>简称：</span>
          {{asset.name_short}}
        </div>
        <div>
          <span>资产ID：</span>
          {{assetId}}
        </div>
        <div>
          <span>发行量：</span>
          {{numberWithCommas asset.circulation}}
        </div>
      </div>
    </div>
    <h4 class="group-title">文件存证</h4>
    {{#if announce}}
      {{#each announce}}
      <div class="panel panel-default company">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <a href="/explorer/company/{{this.walletAddress}}" class="name" target="_blank">{{this.name}}</a>
            </div>
            <div class="col-md-6 col-sm-6 head-right">
              <span class="address">地址：</span>
              <a href="/explorer/company/{{this.walletAddress}}" target="_blank">{{this.walletAddress}}</a>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="tx-info">
            <p>
              交易ID：
              <span>{{this.txid}}</span>
            </p>
            <p>
              文件签名：
              <span>{{this.signature}}</span>
              <span class="icon-green glyphicon glyphicon-ok"></span>
            </p>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>文件名称</th>
                  <th>文件大小</th>
                  <th>文件格式</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                {{#if this.files}}
                  {{#each this.files}}
                  <tr>
                    <td>{{origin_name}}</td>
                    <td>{{covertBytes size}}</td>
                    <td>{{format}}</td>
                    <td class="options">
                      <a href="/download/files/{{name}}"><i class="glyphicon glyphicon-cloud-download"></i>下载</a>
                      {{!-- <a href="" target="_blank"><i class="glyphicon glyphicon-eye-open"></i>预览</a> --}}
                    </td>
                  </tr>
                  {{/each}}
                {{/if}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {{/each}}
    {{/if}}
  </div>
</div>
{{> footer}}
{{> scripts}}
