<div class="page-explorer-company">
  <div class="container">
    <div class="info">
      <h4>企业详情</h4>
      <div class="detail">
        <div>
          <span>机构名称：</span>
          {{data.name}}
        </div>
        <div>
          <span>地址：</span>
          {{data.walletAddress}}
        </div>
        <div>
          <span>官网背书：</span>
          <a href="https://reitschain.com" target="_blank">{{data.url}}</a>
        </div>
        <div>
          <span>注册时间：</span>
          {{data.regTime}}
        </div>
      </div>
    </div>
    <div class="intro">
        <h4>介绍</h4>
        <div class="content">
          {{{data.content}}}
        </div>
    </div>
  </div>  
</div>
{{> footer}}
{{> scripts}}
