<div class="page-explorer-user">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/explorer/asset/{{assetId}}">{{__ 'explorer-asset-home-page'}}</a></li>
      <li class="active">{{__ 'explorer-user-holder'}}</li>
    </ol>
    <div class="user-info">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-6">
          <span>{{__ 'explorer-user-holder-id'}}</span>{{user.userId}}
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <span>{{__ 'explorer-user-holder-name'}}</span>{{handleText user.realName "2"}}
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <span>{{__ 'explorer-user-holder-holdings'}}</span>{{user.balance}}
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <span>{{__ 'explorer-user-holder-ranking'}}</span>{{user.topIndex}}
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <span>{{__ 'explorer-user-holder-rate'}}</span>{{user.holdRate}}
        </div>
      </div>
    </div>
    <div class="wallet-list">
      <h4>{{__ 'explorer-user-wallet'}}</h4>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>{{__ 'explorer-user-wallet-address'}}</th>
              <th>{{__ 'explorer-user-wallet-balance'}}</th>
            </tr>
          </thead>
          <tbody>
            {{#if wallet.list}}
              {{#each wallet.list}}
              <tr>
                <td>{{this.address}}</td>
                <td>{{this.balance}}</td>
              </tr>
              {{/each}}
            {{else}}
            <tr>
              <td class="text-center" colspan="6">{{__ 'no-data'}}</td>
            </tr>
            {{/if}}
          </tbody>
        </table>
      </div>
    </div>
    <div class="dividend-list">
      <h4>{{__ 'explorer-user-dividend'}}</h4>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>{{__ 'explorer-user-dividend-type'}}</th>
              <th>{{__ 'explorer-user-dividend-quantity'}}</th>
              <th>{{__ 'explorer-user-dividend-transaction-record'}}</th>
              <th>{{__ 'explorer-user-dividend-date'}}</th>
            </tr>
          </thead>
          <tbody>
            {{#if dividend}}
              {{#each dividend}}
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              {{/each}}
            {{else}}
            <tr>
              <td class="text-center" colspan="6">{{__ 'no-data'}}</td>
            </tr>
            {{/if}}
          </tbody>
        </table>
      </div>
    </div>
    <div class="transactions-list">
      <h4>{{__ 'explorer-user-transactions'}} / <span class="count">共{{tx.count}}次</span></h4>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>{{__ 'explorer-user-transactions-id'}}</th>
              <th>{{__ 'explorer-user-transactions-quantity'}}</th>
              <th>{{__ 'explorer-user-transactions-date'}}</th>
            </tr>
          </thead>
          <tbody>
            {{#if tx.list}}
              {{#each tx.list}}
              <tr>
                <td><a href="/explorer/asset/{{../assetId}}/tx/{{this.txId}}">{{this.txId}}</a></td>
                <td>{{this.value}}</td>
                <td>{{dateFormat this.time 'default' 'unix'}}</td>
              </tr>
              {{/each}}
            {{else}}
            <tr>
              <td class="text-center" colspan="6">{{__ 'no-data'}}</td>
            </tr>
            {{/if}}
          </tbody>
        </table>
      </div>
      {{#ifCond tx.pageCount '>' 1}}
        <div id="paginationHolder" class="pagination-holder" data-total={{tx.pageCount}} data-current={{tx.pageIndex}}></div>
      {{/ifCond}}
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}
<script src="/libs/jquery.bootpag.js"></script>
<script src="/scripts/explorer-user.js{{fileTail}}"></script>
