<div class="sidebar">
  <ul class="sidenav">
    <li class="nav-head">{{__ 'sidebar-personal'}}</li>
    <li class="nav-item {{#ifCond nav '===' 'dashboard'}}active{{/ifCond}}">
      <a href="/user/dashboard">{{__ 'sidebar-my-investments'}}</a>
    </li>
    <li class="nav-item {{#ifCond nav '===' 'get-rewards'}}active{{/ifCond}}">
      <a href="/user/get-rewards">{{__ 'sidebar-get-rewards'}}</a>
    </li>
    {{!-- <li class="nav-item {{#ifCond nav '===' 'notification'}}active{{/ifCond}}">
      <a href="/notification">{{__ 'sidebar-notification'}}</a>
    </li> --}}
    <li class="nav-head">{{__ 'sidebar-security'}}</li>
    <li class="nav-item {{#ifCond nav '===' 'profile'}}active{{/ifCond}}">
      <a href="/user/profile">{{__ 'sidebar-profile'}}</a>
    </li>
    <li class="nav-item {{#ifCond nav '===' 'security'}}active{{/ifCond}}">
      <a href="/user/security">{{__ 'sidebar-security-setting'}}</a>
    </li>
  </ul>
</div>