<div class="sidebar">
  <ul class="sidenav">
    <li class="nav-head">{{__ 'sidebar-personal'}}</li>
    <li class="nav-item {{#ifCond nav '===' 'dashboard'}}active{{/ifCond}}">
      <a href="/user/dashboard">{{__ 'sidebar-my-assets'}}</a>
    </li>
    {{!-- <li class="nav-item {{#ifCond nav '===' 'notification'}}active{{/ifCond}}">
      <a href="/notification">{{__ 'sidebar-notification'}}</a>
    </li> --}}
    <li class="nav-head">{{__ 'sidebar-security'}}</li>
    <li class="nav-item {{#ifCond nav '===' 'info'}}active{{/ifCond}}">
      <a href="/user/info">{{__ 'sidebar-information'}}</a>
    </li>
    <li class="nav-item {{#ifCond nav '===' 'security'}}active{{/ifCond}}">
      <a href="/user/security">{{__ 'sidebar-account'}}</a>
    </li>
  </ul>
</div>