<div class="page-home">
  <div class="banner-home hidden-xs"></div>
  <div class="block-1">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="home-character-1">
            <img src="/images/home-character-1.jpg" />
          </div>
        </div>
        <div class="col-md-7">
          <div class="title">
            <span>{{__ 'reits-chain'}}</span>{{__ 'home-block1-title'}}
          </div>
          <div class="content">
            <p>{{__ 'home-block1-content1'}}</p>
            <p>{{__ 'home-block1-content2'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block-2">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <a href="/values">
              <div class="title">
                  <i class="icon icon-earth"></i>
                  {{__ 'home-block2-card1-title'}}
              </div>
              <div class="content">
                <p>{{__ 'home-block2-card1-content1'}}</p>
                <p>{{__ 'home-block2-card1-content2'}}</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <a href="/values">
              <div class="title">
                <i class="icon icon-link"></i>
                {{__ 'home-block2-card2-title'}}
              </div>
              <div class="content">
                <p>{{__ 'home-block2-card2-content1'}}</p>
                <p>{{__ 'home-block2-card2-content2'}}</p>
                <p>{{__ 'home-block2-card2-content3'}}</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <a href="/values">
              <div class="title">
                <i class="icon icon-gear"></i>
                {{__ 'home-block2-card3-title'}}
              </div>
              <div class="content">
                <p>{{__ 'home-block2-card3-content1'}}</p>
                <p>{{__ 'home-block2-card3-content2'}}</p>
                <p>{{__ 'home-block2-card3-content3'}}</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block-3">
    <div class="container">
      <div class="block-header">
        <a href="/service">
          <span>{{__ 'home-blcok3-title'}}</span>
        </a>
      </div>
      <div class="block-body">
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <div class="title">
                <i class="icon icon-building"></i>
                {{__ 'home-blcok3-card1-title'}}
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="title">
                <i class="icon icon-securities"></i>
                {{__ 'home-blcok3-card2-title'}}
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="title">
                <i class="icon icon-shakehands"></i>
                {{__ 'home-blcok3-card3-title'}}
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="title">
                <i class="icon icon-transaction"></i>
                {{__ 'home-blcok3-card4-title'}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block-4">
    <div class="container">
      <div class="block-header">
        <a href="/team">
          <span>{{__ 'home-block4-title'}}</span>
        </a>
      </div>
      <div class="block-body">
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <a href="/team#ceo">
                <img src="/images/avatar-liujian.jpg" class="team-avatar">
                <div class="name">{{__ 'home-block4-name1'}}</div>
                <div class="office">{{__ 'home-block4-office1'}}</div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <a href="/team#coo">
                <img src="/images/avatar-yanzhi.jpg" class="team-avatar">
                <div class="name">{{__ 'home-block4-name3'}}</div>
                <div class="office">{{__ 'home-block4-office3'}}</div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <a href="/team#cto">
                <img src="/images/avatar-zhuyaozong.jpg" class="team-avatar">
                <div class="name">{{__ 'home-block4-name2'}}</div>
                <div class="office">{{__ 'home-block4-office2'}}</div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <a href="/team#ap">
                <img src="/images/avatar-linxiaoxiao.jpg" class="team-avatar">
                <div class="name">{{__ 'home-block4-name4'}}</div>
                <div class="office">{{__ 'home-block4-office4'}}</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block-5">
    <div class="container">
      <div class="block-header">
        <a href="/knowledge">
          <span>{{__ 'home-block5-title'}}</span>
        </a>
        <div class="desc">{{__ 'home-block5-subtitle'}}</div>
      </div>
      <div class="block-body">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <ul class="article-list">
              {{#each articles}}
                <li>
                  <a href="/article?id={{this.id}}">
                    <div class="number">0{{math @key '+' 1}}</div>
                    <div class="article">
                      <div class="title">{{this.title}}</div>
                      <div class="content">{{this.content}}</div>
                    </div>
                  </a>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{> scripts}}
<script href="/scripts/home.js{{fileTail}}"></script>