<div class="page-dashboard">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        {{> sidebar}}
      </div>
      <div class="col-md-9 col-sm-9">
        {{#ifCond user.certificationStatus '===' 0}}
          <div class="notice">
            <div class="alert alert-danger" role="alert">{{{__ 'dashboard-notice-realname'}}}</div>
          </div>
        {{/ifCond}}
        <div class="overview">
          <div class="info">
            <div class="nickname">{{__ 'dashboard-hello'}}{{user.nickName}}</div>
            <div class="assets table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>{{__ 'dashboard-asset-type'}}</th>
                    <th>{{__ 'dashboard-asset-circulation'}}</th>
                    <th>{{__ 'dashboard-asset-holdings'}}</th>
                  </tr>
                </thead>
                <tbody>
                {{#if asset.assets}}
                  {{#each asset.assets}}
                    <tr>
                      <td><a href="/explorer/asset/{{id}}" target="_blank">{{name}} ({{name_en}})</a></td>
                      <td>{{total}}</td>
                      <td>{{holdings}}</td>
                    </tr>
                  {{/each}}
                {{else}}
                  <tr>
                    <td class="text-center" colspan="3">{{__ 'no-data'}}</td>
                  </tr>
                {{/if}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="wallet">
          {{#if wallet}}
          <div class="table-responsive">
            {{!-- 认证状态：{{user.certificationStatus}} --}}
            {{!-- 认证成功前，不能操作钱包 --}}
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <td class="text-right" colspan="2">
                    <a href="/user/bind-wallet">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                      绑定钱包
                    </a>
                  </td>
                </tr>
                <tr>
                  <th>钱包地址</th>
                  <th>余额</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <a href="/wallet/">-</a>
                  </td>
                  <td>-</td>
                </tr>
              </tbody>
            </table>
          </div>
          {{else}}
          <div class="tips">
            <p>{{__ 'dashboard-wallet-tips1'}}</p>
          </div>
          {{/if}}
          <div class="download">
            <div class="row">
              <div class="col-md-3 col-sm-4">
                <div class="box">
                  <img src="/images/windows.png" alt="windows">
                  <div class="name">Windows</div>
                  <a href="/download/windows/windows_1.0.png" class="btn btn-blue btn-xs">{{__ 'download'}}</a>
                </div>
              </div>
              <div class="col-md-3 col-sm-4">
                <div class="box">
                  <img src="/images/linux.png" alt="Linux">
                  <div class="name">Linux</div>
                  <div class="development">{{__ 'stay-tuned'}}</div>
                </div>
              </div>
              <div class="col-md-3 col-sm-4">
                <div class="box">
                  <img src="/images/mac.png" alt="Mac">
                  <div class="name">Mac</div>
                  <div class="development">{{__ 'stay-tuned'}}</div>
                </div>
              </div>
            </div>  
          </div>
        </div>
        {{#if bonus.bonus}}
          <div class="dividend">
            <div class="dividend-title">{{__ 'dashboard-dividend-address'}}</div>
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>{{__ 'dashboard-dividend-currency-type'}}</th>
                    <th>{{__ 'dashboard-dividend-currency-address'}}</th>
                    <th>{{__ 'dashboard-dividend-operating'}}</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each bonus.bonus}}
                  <tr>
                    <td>{{type}}</td>
                    <td>{{address}}</td>
                    <td>
                      <a href="/user/update-dividend">{{__ 'change'}}</a>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        {{else}}
          <div class="dividend-less">
            <div class="tips">{{{__ 'dashboard-address-tips'}}}</div>
            <div class="row dividend-address">
              <div class="col-md-6 col-sm-6">
                <a href="/user/update-dividend">
                  <div class="box box-green">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                    <p>{{{__ 'dashboard-address-update'}}}</p>
                  </div>
                </a>
              </div>
              <div class="col-md-6 col-sm-6">
                <a href="https://haobtc.com/auth/oauth/authorize/?response_type=code&client_id={{haobtcClientId}}">
                  <div class="box box-yellow">
                    <i class="glyphicon glyphicon-circle-arrow-right"></i>
                    <p>{{__ 'dashboard-address-signup1'}} HaoBTC {{__ 'dashboard-address-signup2'}}</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}
