<div class="page-get-rewards">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        {{> sidebar}}
      </div>
      <div class="col-md-9 col-sm-9">
        <div class="intro">
          <div class="title">{{__ 'get-rewards-title'}}</div>
          <div class="rules">
            <p>{{__ 'get-rewards-rule1'}}</p>
            <p>{{__ 'get-rewards-rule2'}}</p>
            <p>{{__ 'get-rewards-rule3'}}</p>
          </div>
        </div>
        <div class="url">
          <p>{{__ 'get-rewards-method1'}}</p>
          <div class="input-group">
            {{#ifCond ENV '===' 'development'}}
              <input id="inviteUrl" type="text" class="form-control url-holder" readonly="readonly" value="http://localhost:3000/signup?i={{code.inviteCode}}">
            {{/ifCond}}
            {{#ifCond ENV '===' 'beta'}}
              <input id="inviteUrl" type="text" class="form-control url-holder" readonly="readonly" value="http://test.reitschain.com/signup?i={{code.inviteCode}}">
            {{/ifCond}}
            {{#ifCond ENV '===' 'production'}}
              <input id="inviteUrl" type="text" class="form-control url-holder" readonly="readonly" value="https://www.reitschain.com/signup?i={{code.inviteCode}}">
            {{/ifCond}}
            <span class="input-group-btn">
              <button id="copyBtn" class="btn btn-default" type="button" data-clipboard-action="copy" data-clipboard-target="#inviteUrl">{{__ 'copy'}}</button>
            </span>
          </div>
        </div>
        <div class="code">
          <p>{{__ 'get-rewards-method2'}}</p>
          <div class="box">{{code.inviteCode}}</div>
        </div>
        <div class="invite-list">
          <div class="title">{{__ 'get-rewards-my'}}</div>
          <div class="list table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>{{__ 'get-rewards-phone'}}</th>
                  <th>{{__ 'get-rewards-status'}}</th>
                  <th>{{__ 'get-rewards-time'}}</th>
                </tr>
              </thead>
              <tbody>
                {{#if list.list}}
                  {{#each list.list}}
                    <tr>
                      <td>{{handleText phoneNum 4}}</td>
                      {{#ifCond status '===' 0}}
                        <td>{{__ 'get-rewards-state0'}}</td>
                      {{/ifCond}}
                      {{#ifCond status '===' 1}}
                        <td>{{__ 'get-rewards-state1'}}</td>
                      {{/ifCond}}
                      {{#ifCond status '===' 2}}
                        <td>{{__ 'get-rewards-state2'}}</td>
                      {{/ifCond}}
                      <td>{{dateFormat regTime '' 'unix'}}</td>
                    </tr>
                  {{/each}}
                {{else}}
                  <tr>
                    <td class="text-center" colspan="3">{{__ 'no-data'}}</td>
                  </tr>
                {{/if}}
              </tbody>
            </table>
          </div>
          {{#ifCond tx.pageCount '>' 1}}
          <div id="paginationHolder" class="pagination-holder" data-total="{{list.pageCount}}" data-current="{{list.pageIndex}}"></div>
          {{/ifCond}}
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}
<script src="/libs/jquery.bootpag.js"></script>
<script src="/libs/clipboard.js/clipboard.min.js"></script>
<script src="/scripts/get-rewards.js{{fileTail}}"></script>
