<div class="page-get-rewards">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        {{> sidebar}}
      </div>
      <div class="col-md-9 col-sm-9">
        <div class="intro">
          <div class="title">邀请好友注册，获得丰厚奖励</div>
          <div class="rules">
            <p>1. 活动奖励：邀请好友参与瑞资链公测，成功邀请1名好友可以获得100RTSt1级邀请奖励，好友再成功邀请1名好友，还可获得50RTSt2级邀请奖励。</p>
            <p>2. 成功邀请条件：好友通过邀请链接完成注册认证，下载瑞资钱包，完成首次登录。</p>
            <p>3. 奖励范围：仅奖励第1级邀请和第2级邀请，举例：A成功邀请B，A获得1级邀请奖励100RTSt；B成功邀请C，A获得2级邀请奖励50RTSt，B获得1级邀请奖励100RTSt；C再成功邀请一位朋友，A不再获得邀请奖励，B获得2级邀请奖励，C获得1级邀请奖励。</p>
            <p>4. 问题反馈渠道：加入瑞资链测试群，QQ群号253988302，@管理员即可得到帮助。</p>
            <p>5. 如果您有好的推广渠道，欢迎联系bd@reitsfax.com合作洽谈 。</p>
          </div>
        </div>
        <div class="wechat">
          <p>方式一：使用微信扫描下方二维码，将页面分享给好友</p>
          {{#ifCond ENV '===' 'development'}}
            <div id="qrcode" data-url="http://localhost:3000/share/wechat"></div>
          {{/ifCond}}
          {{#ifCond ENV '===' 'beta'}}
            <div id="qrcode" data-url="http://test.reitschain.com/share/wechat"></div>
          {{/ifCond}}
          {{#ifCond ENV '===' 'production'}}
            <div id="qrcode" data-url="https://www.reitschain.com/share/wechat"></div>
          {{/ifCond}}
        </div>
        <div class="url">
          <p>方式二：复制下方链接发送给好友</p>
          <div class="input-group">
            {{#ifCond ENV '===' 'development'}}
              <input id="inviteUrl" type="text" class="form-control url-holder" readonly="readonly" value="http://localhost:3000/signup?i={{code.inviteCode}}">
            {{/ifCond}}
            {{#ifCond ENV '===' 'beta'}}
              <input id="inviteUrl" type="text" class="form-control url-holder" readonly="readonly" value="http://test.reitschain.com/signup?i={{code.inviteCode}}">
            {{/ifCond}}
            {{#ifCond ENV '===' 'production'}}
              <input id="inviteUrl" type="text" class="form-control url-holder" readonly="readonly" value="https://www.reitschain.com/signup?i={{code.inviteCode}}">
            {{/ifCond}}
            <span class="input-group-btn">
              <button id="copyBtn" class="btn btn-default" type="button" data-clipboard-action="copy" data-clipboard-target="#inviteUrl">{{__ 'copy'}}</button>
            </span>
          </div>
        </div>
        <div class="code">
          <p>方式三：好友在注册时填写你的邀请码</p>
          <div class="box">{{code.inviteCode}}</div>
        </div>
        <div class="invite-list">
          <div class="title">{{__ 'get-rewards-my'}}</div>
          <div class="list table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th colspan="2">一级邀请</th>
                </tr>
                <tr>
                  <td>人数</td>
                  <td>奖励</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{numberWithCommas rewards.level1.people}}</td>
                  <td>{{numberWithCommas rewards.level1.reward}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="list table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th colspan="2">二级邀请</th>
                </tr>
                <tr>
                  <td>人数</td>
                  <td>奖励</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{numberWithCommas rewards.level2.people}}</td>
                  <td>{{numberWithCommas rewards.level2.reward}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}
<script src="/libs/jquery.bootpag.js"></script>
<script src="/libs/clipboard.js/clipboard.min.js"></script>
<script src="/libs/jquery.qrcode.min.js"></script>
<script src="/scripts/get-rewards.js{{fileTail}}"></script>
