<div class="page-info">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        {{> sidebar}}
      </div>
      <div class="col-md-10">
        <form class="form-normal">
          <div class="form-group">
            <label for="nickname">{{__ 'info-nickname'}}</label>
            <input type="text" class="form-control" id="nickname">
          </div>
          <div class="form-group">
            <label>{{__ 'info-gender'}}</label>
            <div>
              <label class="radio-inline">
                <input type="radio" name="gender" value="1"> {{__ 'info-gender-type-1'}}
              </label>
              <label class="radio-inline">
                <input type="radio" name="gender" value="2"> {{__ 'info-gender-type-2'}}
              </label>
              <label class="radio-inline">
                <input type="radio" name="gender" value="0" checked> {{__ 'info-gender-type-3'}}
              </label>
            </div>
          </div>
          <button id="btnSubmit" type="button" class="btn btn-primary btn-submit">{{__ 'info-save'}}</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}
