<div class="page-info">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        {{> sidebar}}
      </div>
      <div class="col-md-9 col-sm-9">
        <form id="form" class="form-normal">
          <div class="form-group">
            <label for="nickName">{{__ 'info-nickname'}}</label>
            <input type="text" class="form-control" id="nickName" name="nickName" value="{{user.nickName}}">
          </div>
          <div class="form-group">
            <label>{{__ 'info-gender'}}</label>
            <div>
              <label class="radio-inline">
                <input type="radio" name="gender" value="1" {{#ifCond user.gender '===' 1}}checked{{/ifCond}}> {{__ 'info-gender-type-1'}}
              </label>
              <label class="radio-inline">
                <input type="radio" name="gender" value="2" {{#ifCond user.gender '===' 2}}checked{{/ifCond}}> {{__ 'info-gender-type-2'}}
              </label>
              <label class="radio-inline">
                <input type="radio" name="gender" value="0" {{#unless user.gender}}checked{{/unless}}> {{__ 'info-gender-type-3'}}
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="weixin">{{__ 'info-weixin'}}</label>
            <input type="text" class="form-control" id="weixin" name="weixin" value="">
          </div>
          <div class="form-group">
            <label for="qq">QQ</label>
            <input type="text" class="form-control" id="qq" name="qq" value="">
          </div>
          <button id="btnSubmit" type="button" class="btn btn-primary btn-submit">{{__ 'submit'}}</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}
<script src="/scripts/info.js{{fileTail}}"></script>
