<div class="page-invitation-to-reward">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        {{> sidebar}}
      </div>
      <div class="col-md-9 col-sm-9">
        <div class="intro">
          <p class="title">邀请好友注册，即可获得xxx</p>
          <p class="rule">规则：好友使用邀请码完成注册，并且通过了实名认证，那么系统将会自动发放奖励到你的账户。</p>
        </div>
        <div class="code">
          <p>方法一：好友在注册时填写你的邀请码</p>
          <div class="box">{{code.inviteCode}}</div>
        </div>
        <div class="url">
          <p>方法二：复制下方链接发送给好友</p>
          <input type="text" class="form-control url-holder" readonly="readonly" value="https://www.reitschain.com/signup?invite={{code.inviteCode}}">
        </div>
        <div class="invite-list">
          <div class="title">我的邀请</div>
          <div class="list table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>手机号码</th>
                  <th>状态</th>
                  <th>注册时间</th>
                </tr>
              </thead>
              <tbody>
                {{#if list.list}}
                  {{#each list.list}}
                    <tr>
                      <td>{{handleText phoneNum 4}}</td>
                      {{#ifCond status '===' 0}}
                        <td>未实名认证</td>
                      {{/ifCond}}
                      {{#ifCond status '===' 1}}
                        <td>实名认证中</td>
                      {{/ifCond}}
                      {{#ifCond status '===' 2}}
                        <td>邀请成功</td>
                      {{/ifCond}}
                      <td>{{dateFormat regTime '' 'unix'}}</td>
                    </tr>
                  {{/each}}
                {{else}}
                  <tr>
                    <td class="text-center" colspan="3">{{__ 'no-data'}}</td>
                  </tr>
                {{/if}}
              </tbody>
            </table>
          </div>
          {{#ifCond tx.pageCount '>' 1}}
          <div id="paginationHolder" class="pagination-holder" data-total="{{list.pageCount}}" data-current="{{list.pageIndex}}"></div>
          {{/ifCond}}
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}
<script src="/libs/jquery.bootpag.js"></script>
<script src="/scripts/invitation-to-reward.js{{fileTail}}"></script>
