<div class="page-modify-password">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        {{> sidebar}}
      </div>
      <div class="col-md-9 col-sm-9">
        <ol class="breadcrumb platform-breadcrumb">
          <li><a href="/user/security">{{__ 'sidebar-security'}}</a></li>
          <li class="active">{{__ "modify-password-title"}}</li>
        </ol>
        <form id="form" class="form-normal">
          <div class="form-group">
            <label for="oldPassword">{{__ 'modify-password-current'}}</label>
            <input type="password" class="form-control" id="oldPassword" name="oldPassword">
          </div>
          <div class="form-group">
            <label for="newPassword">{{__ 'modify-password-new'}}</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword">
          </div>
          <div class="form-group">
            <label for="confirmPassword">{{__ 'modify-password-confirm'}}</label>
            <input type="password" class="form-control" id="confirmPassword">
          </div>
          <button id="btnSubmit" type="button" class="btn btn-primary btn-submit">{{__ 'submit'}}</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}
<script src="/scripts/modify-password.js{{fileTail}}"></script>
