<div class="page-reset">
  <div id="formHolder" class="container">
    <div class="form-big-holder">
      <form id="form" class="form-big">
        <div class="form-group">
          <label for="phoneNum">{{__ "reset-phone"}}</label>
          <input type="text" class="form-control input-lg" id="phoneNum" name="phoneNum">
        </div>
        <div class="form-group">
          <label for="phoneValidCode">{{__ "reset-sms"}}</label>
          <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-7">
              <input type="text" class="form-control input-lg" id="phoneValidCode" name="phoneValidCode">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-5">
              <a id="btnSmsCode" class="btn-sms">{{__ "reset-get-sms"}}</a>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">{{__ "reset-pwd1"}}</label>
          <input type="password" class="form-control input-lg" id="password" name="password">
        </div>
        <div class="form-group">
          <label for="confirmPassword">{{__ "reset-pwd2"}}</label>
          <input type="password" class="form-control input-lg" id="confirmPassword">
        </div>
        <button id="btnSubmit" type="button" class="btn btn-primary btn-lg btn-block btn-submit">{{__ "reset-submit"}}</button>
      </form>
    </div>
  </div>
  <div id="successHolder" class="container hide">
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    <h3>{{__ "reset-success1"}}</h3>
    <p>{{{__ "reset-success2"}}}</p>
  </div>
</div>

{{> footer}}
{{> scripts}}
<script src="/scripts/reset.js{{fileTail}}"></script>