<div class="page-security">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        {{> sidebar}}
      </div>
      <div class="col-md-9 col-sm-9">
        <div class="panel-list">
          {{!-- 登录密码 --}}
          <div class="panel panel-success">
            <div class="panel-heading">
              <div class="row">
                <div class="col-md-9">
                  <span class="glyphicon glyphicon-ok"></span>
                  {{__ 'security-login-password'}}
                </div>
                <div class="col-md-3 text-right">
                  <a href="/user/change-password">{{__ 'change'}}</a>
                </div>
              </div>
            </div>
            <div class="panel-body">{{__ 'security-login-password-helper'}}</div>
          </div>
          {{!-- 手机号码 --}}
          <div class="panel panel-success">
            <div class="panel-heading">
              <div class="row">
                <div class="col-md-9">
                  <span class="glyphicon glyphicon-ok"></span>
                  {{__ 'security-phone'}}
                </div>
                <div class="col-md-3 text-right">
                  <a href="/user/change-phone">{{__ 'change'}}</a>
                </div>
              </div>
            </div>
            <div class="panel-body">{{__ 'security-phone-helper'}}</div>
          </div>
          {{!-- 实名认证 --}}
          {{#ifCond user.certificationStatus "===" -1}}
          <div class="panel panel-danger">
          {{/ifCond}}
          {{#ifCond user.certificationStatus "===" 0}}
          <div class="panel panel-warning">
          {{/ifCond}}
          {{#ifCond user.certificationStatus "===" 1}}
          <div class="panel panel-warning">
          {{/ifCond}}
          {{#ifCond user.certificationStatus "===" 2}}
          <div class="panel panel-success">
          {{/ifCond}}
            <div class="panel-heading">
               <div class="row">
                  {{#ifCond user.certificationStatus "===" -1}}
                    <div class="col-md-9">
                      <span class="glyphicon glyphicon-remove"></span>
                      {{__ 'security-identity-verification-failed'}}
                    </div>
                    <div class="col-md-3 text-right">
                      <a href="/user/verify-id">{{__ 'verify'}}</a>
                    </div>
                  {{/ifCond}}
                  {{#ifCond user.certificationStatus "===" 0}}
                    <div class="col-md-9">
                      <span class="glyphicon glyphicon-filter"></span>
                      {{__ 'security-identity-unverified'}}
                    </div>
                    <div class="col-md-3 text-right">
                      <a href="/user/verify-id">{{__ 'verify'}}</a>
                    </div>
                  {{/ifCond}}
                  {{#ifCond user.certificationStatus "===" 1}}
                    <div class="col-md-9">
                      <span class="glyphicon glyphicon-filter"></span>
                      {{__ 'security-identity-verification-ing'}}
                    </div>
                  {{/ifCond}}
                  {{#ifCond user.certificationStatus "===" 2}}
                    <div class="col-md-9">
                      <span class="glyphicon glyphicon-ok"></span>
                      {{__ 'security-identity-verification'}}
                    </div>
                    <div class="col-md-3 text-right">
                      <a href="/user/view-id">{{__ 'view'}}</a>
                    </div>
                  {{/ifCond}}
               </div>
            </div>
            <div class="panel-body">{{__ 'security-view-helper'}}</div>
          </div>
          {{!-- 银行卡认证 --}}
          {{!-- {{#ifCond user.bankCardVerifStatus "===" 0}}
            <div class="panel panel-warning">
          {{else}}
            <div class="panel panel-success">
          {{/ifCond}}
            <div class="panel-heading">
              <div class="row">
                <div class="col-md-9">
                  {{#ifCond user.bankCardVerifStatus "===" 0}}
                    <span class="glyphicon glyphicon-filter"></span>
                    {{__ 'security-bank-card-unverified'}}
                  {{else}}
                    <span class="glyphicon glyphicon-ok"></span>
                    {{__ 'security-bank-card-verification'}}
                  {{/ifCond}}
                </div>
                <div class="col-md-3 text-right">
                  {{#ifCond user.bankCardVerifStatus "===" 0}}
                    <a href="/user/verify-bank-card">{{__ 'verify'}}</a>
                  {{else}}
                    <a href="/user/view-bank-card">{{__ 'view'}}</a>
                  {{/ifCond}}
                </div>
              </div>
            </div>
            <div class="panel-body">{{__ 'security-bank-card-helper'}}</div>
          </div> --}}
          {{!-- 风险承受能力评估 --}}
          {{!-- {{#if user.riskInfo}}
          <div class="panel panel-success">
          {{else}}
          <div class="panel panel-warning">
          {{/if}}
            <div class="panel-heading">
              <div class="row">
                <div class="col-md-9">
                  {{#if user.riskInfo}}
                  <span class="glyphicon glyphicon-ok"></span>
                  {{__ 'security-risk'}}
                  {{else}}
                  <span class="glyphicon glyphicon-filter"></span>
                  {{__ 'security-risk-not-assessed'}}
                  {{/if}}
                </div>
                <div class="col-md-3 text-right">
                  <a href="/user/risk-tolerance">{{__ 'security-risk-assess'}}</a>
                </div>
              </div>
            </div>
            <div class="panel-body">
              {{__ 'security-risk-helper'}}
              <div>{{#if user.riskInfo}}</div>
              <div>
                {{#ifCond user.riskInfo.type '===' 0}}
                <span class="risk-type">{{__ 'security-risk-type'}}{{__ 'security-risk-type0'}}</span>
                {{/ifCond}}
                {{#ifCond user.riskInfo.type '===' 1}}
                <span class="risk-type">{{__ 'security-risk-type'}}{{__ 'security-risk-type1'}}</span>
                {{/ifCond}}
                {{#ifCond user.riskInfo.type '===' 2}}
                <span class="risk-type">{{__ 'security-risk-type'}}{{__ 'security-risk-type2'}}</span>
                {{/ifCond}}
                <span class="risk-score">{{__ 'security-risk-score'}}{{user.riskInfo.score}}</span>
              </div>
              {{/if}}
            </div>
          </div> --}}
        </div>
        <div class="record-list">
          <div class="record-title">{{__ 'security-login-records'}}</div>
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>{{__ 'security-login-time'}}</th>
                  <th>{{__ 'security-login-ip'}}</th>
                  <th>{{__ 'security-login-location'}}</th>
                </tr>
              </thead>
              <tbody>
                {{#each loginInfo}}
                <tr>
                  <td>{{dateFormat this.loginTime}}</td>
                  <td>{{#if this.ip}}{{this.ip}}{{else}}-{{/if}}</td>
                  <td>{{#if this.location}}{{this.location}}{{else}}-{{/if}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}
