<div class="page-security">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-2">
        {{> sidebar}}
      </div>
      <div class="col-md-10 col-sm-10">
        <div class="panel-list">
          <div class="panel panel-success">
            <div class="panel-heading">
              <div class="row">
                <div class="col-md-9">
                  <span class="glyphicon glyphicon-ok"></span>
                  {{__ 'security-login-password'}}
                </div>
                <div class="col-md-3 text-right">
                  <a href="/user/modify-password">{{__ 'security-modify'}}</a>
                </div>
              </div>
            </div>
            <div class="panel-body">{{__ 'security-login-password-helper'}}</div>
          </div>
          {{#ifCond user.certificationStatus "===" 0}}
          <div class="panel panel-danger">
          {{/ifCond}}
          {{#ifCond user.certificationStatus "===" 1}}
          <div class="panel panel-warning">
          {{/ifCond}}
          {{#ifCond user.certificationStatus "===" 2}}
          <div class="panel panel-success">
          {{/ifCond}}
            <div class="panel-heading">
               <div class="row">
                  {{#ifCond user.certificationStatus "===" 0}}
                    <div class="col-md-9">
                      <span class="glyphicon glyphicon-remove"></span>
                      {{__ 'security-realname-verification-fail'}}
                    </div>
                    <div class="col-md-3 text-right">
                      <a href="/user/update-verification">{{__ 'security-update'}}</a>
                    </div>
                  {{/ifCond}}
                  {{#ifCond user.certificationStatus "===" 1}}
                    <div class="col-md-9">
                      <span class="glyphicon glyphicon-filter"></span>
                      {{__ 'security-realname-verification-ing'}}
                    </div>
                  {{/ifCond}}
                  {{#ifCond user.certificationStatus "===" 2}}
                    <div class="col-md-9">
                      <span class="glyphicon glyphicon-ok"></span>
                      {{__ 'security-realname-verification'}}
                    </div>
                    <div class="col-md-3 text-right">
                      <a href="/user/view-id">{{__ 'security-view'}}</a>
                    </div>
                  {{/ifCond}}
               </div>
            </div>
            <div class="panel-body">{{__ 'security-view-helper'}}</div>
          </div>
        </div>
        <div class="record-list table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <td>{{__ 'security-login-records'}}</td>
              </tr>
              <tr>
                <th>{{__ 'security-login-time'}}</th>
                <th>{{__ 'security-login-ip'}}</th>
                <th>{{__ 'security-login-location'}}</th>
              </tr>
            </thead>
            <tbody>
              {{#each loginInfo}}
              <tr>
                <td>{{dateFormat this.loginTime}}</td>
                <td>{{#if this.ip}}{{this.ip}}{{else}}-{{/if}}</td>
                <td>{{#if this.location}}{{this.location}}{{else}}-{{/if}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}
