<div class="page-security">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        {{> sidebar}}
      </div>
      <div class="col-md-10">
        <div class="panel-list">
          <div class="panel panel-success">
            <div class="panel-heading">
              <div class="row">
                <div class="col-md-9">
                  <span class="glyphicon glyphicon-ok"></span>
                  {{__ 'security-login-password'}}
                </div>
                <div class="col-md-3 text-right">
                  <a href="/modify-password">{{__ 'security-modify'}}</a>
                </div>
              </div>
            </div>
            <div class="panel-body">{{__ 'security-login-password-helper'}}</div>
          </div>
          <div class="panel panel-success">
            <div class="panel-heading">
               <div class="row">
                  <div class="col-md-9">
                    <span class="glyphicon glyphicon-ok"></span>
                    {{__ 'security-realname-verification'}}
                  </div>
                  <div class="col-md-3 text-right">
                    <a href="/view-id">{{__ 'security-view'}}</a>
                  </div>
               </div>
            </div>
            <div class="panel-body">{{__ 'security-view-helper'}}</div>
          </div>
        </div>
        <div class="record-list table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <td>{{__ 'security-login-records'}}</td>
              </tr>
              <tr>
                <th>{{__ 'security-login-time'}}</th>
                <th>{{__ 'security-login-ip'}}</th>
                <th>{{__ 'security-login-location'}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>2016-09-02 12:12:08</td>
                <td>123.122.121.124</td>
                <td>北京</td>
              </tr>
              <tr>
                <td>2016-09-02 11:12:08</td>
                <td>123.122.121.124</td>
                <td>北京</td>
              </tr>
              <tr>
                <td>2016-09-02 10:12:08</td>
                <td>123.122.121.124</td>
                <td>北京</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}
