<div class="page-signup">
  <div class="container">
    <div class="banner">
      <a href="/"><img src="/images/signup-banner-title.png"></a>
    </div>
  </div>
  <div id="formHolder" class="container">
    <div class="beta-slogan">
      <p>全球首个面向金融应用场景的全实名制区块链，正在公测！</p>
      <p>百万权益token免费派送</p>
      <p class="big">注册就送<span class="text-red">·100RTSt·</span>赶快行动</p>
    </div>
    <div class="form-big-holder">
      <form id="form" class="form-big">
        <div class="form-group">
          <label for="phoneNum">{{__ 'signup-phone'}}</label>
          <input type="text" class="form-control input-lg" id="phoneNum" name="phoneNum">
        </div>
        <div class="form-group image-code-holder">
          <label for="imageCode">图片验证码</label>
          <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-6">
              <input type="hidden" id="key" name="key">
              <input type="text" class="form-control input-lg" id="imageCode" name="imageCode">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
              <img id="imageCodeSrc">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="phoneValidCode">{{__ 'signup-sms'}}</label>
          <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-6">
              <input type="text" class="form-control input-lg" id="phoneValidCode" name="phoneValidCode">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
              <a id="btnSmsCode" class="btn-sms">{{__ 'signup-get-sms'}}</a>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">{{__ 'signup-pwd1'}}</label>
          <input type="password" class="form-control input-lg" id="password" name="password">
        </div>
        <div class="form-group">
          <label for="confirmPassword">{{__ 'signup-pwd2'}}</label>
          <input type="password" class="form-control input-lg" id="confirmPassword">
        </div>
        <div class="form-group">
          <label for="invitationCode">{{__ 'invitation-code'}}</label>
          <input type="text" class="form-control input-lg" id="invitationCode" name="invitationCode" value="{{invite}}" {{#if invite}}readOnly{{/if}}>
          <span class="help-block">{{__ 'optional'}}</span>
        </div>
        <div class="checkbox">
          <label>
            <input id="terms" type="checkbox" checked >
            我已阅读并同意瑞资链的<a href="/terms" target="_blank">服务条款</a>
          </label>
        </div>
        <button id="btnSubmit" type="submit" class="btn btn-primary btn-lg btn-block btn-submit">{{__ 'signup-register'}}</button>
      </form>
    </div>
  </div>
  <div id="successHolder" class="container hide">
    <div class="layer">
      <div class="layer">
        <div class="layer">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </div>
      </div>
    </div>
    <h3>{{__ 'signup-success1'}}</h3>
    <p><span id="jumpCountdown">5</span>秒后跳转到钱包的下载页面</p>
  </div>
</div>
{{> scripts}}
<script src="/scripts/signup.js{{fileTail}}"></script>
