<div class="page-update-verification">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-2">
        {{> sidebar}}
      </div>
      <div class="col-md-10 col-sm-10">
        <form id="form" class="form-normal">
          <div class="form-group">
            <label for="idPhoto1">{{__ 'verification-photo1'}}</label>
            <input type="file" class="form-control" id="idPhoto1">
            <span class="help-block">{{__ 'verification-photo-help1'}}</span>
          </div>
          <div class="form-group">
            <label for="idPhoto2">{{__ 'verification-photo2'}}</label>
            <input type="file" class="form-control" id="idPhoto2">
          </div>
          <div class="form-group">
            <label for="photo">{{__ 'verification-photo3'}}</label>
            <input type="file" class="form-control" id="photo">
            <span class="help-block">{{__ 'verification-photo-help2'}}</span>
          </div>
          <button id="btnSubmit" type="button" class="btn btn-primary btn-submit">{{__ 'verification-save'}}</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}
<script src="/scripts/update-verification.js{{fileTail}}"></script>
