<div class="page-verify-bank-card">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        {{> sidebar}}
      </div>
      <div class="col-md-9 col-sm-9">
        <ol class="breadcrumb platform-breadcrumb">
          <li><a href="/user/security">{{__ 'sidebar-security'}}</a></li>
          <li class="active">{{__ "verify-bank-card-title"}}</li>
        </ol>
        <form id="form" class="form-normal">
          <div class="form-group">
            <label for="bankcardNum">{{__ 'verify-bank-card-number'}}</label>
            <input type="text" class="form-control" id="bankcardNum" name="bankcardNum">
          </div>
          <div class="form-group">
            <label for="name">{{__ 'verify-bank-card-name'}}</label>
            <input type="text" class="form-control" id="name" name="name">
          </div>
          <div class="form-group">
            <label for="idNumber">{{__ 'verify-bank-card-id'}}</label>
            <input type="text" class="form-control" id="idNumber" name="idNumber">
          </div>
          <button id="btnSubmit" type="submit" class="btn btn-primary btn-submit">{{__ 'submit'}}</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}
<script src="/scripts/verify-bank-card.js{{fileTail}}"></script>
