<div class="page-verify-id">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        {{> sidebar}}
      </div>
      <div class="col-md-9 col-sm-9">
        <ol class="breadcrumb platform-breadcrumb">
          <li><a href="/user/security">{{__ 'sidebar-security'}}</a></li>
          <li class="active">{{__ "verify-id-title"}}</li>
        </ol>
        <form id="form" class="form-normal">
          <div class="form-group">
            <label for="realName">{{__ 'verify-real-name'}}</label>
            <input type="text" class="form-control" id="realName" name="realName">
          </div>
          <div class="form-group">
            <label for="idType">{{__ 'verify-id-type'}}</label>
            <select id="idType" class="form-control disabled" name="idType">
              <option value="1" selected >{{__ 'verify-id-type-1'}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="idNum">{{__ 'verify-id-num'}}</label>
            <input type="text" class="form-control" id="idNum" name="idNum">
          </div>
          <div class="form-group">
            <label for="idPhoto1">{{__ 'verify-id-photo1'}} <i id="spin1" class="glyphicon glyphicon-repeat icon-spin hide"></i></label>
            <input type="file" class="form-control" id="idPhoto1" data-sort="1">
            <span class="help-block">{{__ 'verify-id-photo-help1'}}</span>
            <img id="preview1" class="preview-box hide">
          </div>
          <div class="form-group">
            <label for="idPhoto2">{{__ 'verify-id-photo2'}} <i id="spin2" class="glyphicon glyphicon-repeat icon-spin hide"></i></label></label>
            <input type="file" class="form-control" id="idPhoto2" data-sort="2">
            <img id="preview2" class="preview-box hide">
          </div>
          <div class="form-group">
            <label for="photo">{{__ 'verify-id-photo3'}} <i id="spin3" class="glyphicon glyphicon-repeat icon-spin hide"></i></label>
            <input type="file" class="form-control" id="photo" data-sort="3">
            <span class="help-block">{{__ 'verify-id-photo-help2'}}</span>
            <img id="preview3" class="preview-box hide">
          </div>
          <button id="btnSubmit" type="submit" class="btn btn-primary btn-submit">{{__ 'submit'}}</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}
<script src="/scripts/verify-id.js{{fileTail}}"></script>
