<div class="page-view-bank-card">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        {{> sidebar}}
      </div>
      <div class="col-md-9 col-sm-9">
        <ol class="breadcrumb platform-breadcrumb">
          <li><a href="/user/security">{{__ 'sidebar-security'}}</a></li>
          <li class="active">{{__ "view-bank-card-title"}}</li>
        </ol>
        <div class="list">
          <p>{{__ 'view-bank-card-number'}}**** 1234</p>
          <p>{{__ 'view-bank-card-name'}}*æŸ</p>
          <p>{{__ 'view-bank-card-id'}}51************1111</p>
          <p>{{__ 'view-bank-card-time'}}2016-11-16 13:27:14</p>
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}
