<div class="page-view-id">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-2">
        {{> sidebar}}
      </div>
      <div class="col-md-10 col-sm-10">
        <ol class="breadcrumb platform-breadcrumb">
          <li><a href="/user/security">{{__ 'sidebar-security'}}</a></li>
          <li class="active">{{__ "view-id-title"}}</li>
        </ol>
        <div class="list">
          <p>{{__ 'view-realname'}}：{{handleText user.realName "2"}}</p>
          <p>{{__ 'view-id-type'}}：{{__ 'view-id-type-1'}}{{#ifCond user.idType "===" 1}}{{__ 'view-id-type-1'}}{{/ifCond}}</p>
          <p>{{__ 'view-id-num'}}：{{handleText user.idNum "3"}}</p>
          <p>{{__ 'view-auth-time'}}：{{dateFormat user.certificationTime}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}
