{{> banner-other}}
<div class="page-team">
  <div class="container">
    <div class="cards">
      <div id="ceo" class="row card">
        <div class="col-md-4">
          <img class="avatar" src="/images/avatar-liujian.jpg">
        </div>
        <div class="col-md-8">
          <div class="name">{{__ 'team-card1-name'}}</div>
          <div class="office">{{__ 'team-card1-office'}}</div>
          <ul class="info">
            <li>{{__ 'team-card1-text1'}}</li>
            <li>{{__ 'team-card1-text2'}}</li>
            <li>{{__ 'team-card1-text3'}}</li>
            <li>{{__ 'team-card1-text4'}}</li>
            <li>{{__ 'team-card1-text5'}}</li>
          </ul>
        </div>
      </div>
      <div id="coo" class="row card">
        <div class="col-md-4">
          <img class="avatar" src="/images/avatar-yanzhi.jpg">
        </div>
        <div class="col-md-8">
          <div class="name">{{__ 'team-card2-name'}}</div>
          <div class="office">{{__ 'team-card2-office'}}</div>
          <ul class="info">
            <li>{{__ 'team-card2-text1'}}</li>
            <li>{{__ 'team-card2-text2'}}</li>
            <li>{{__ 'team-card2-text3'}}</li>
          </ul>
        </div>
      </div>
      <div id="cto" class="row card">
        <div class="col-md-4">
          <img class="avatar" src="/images/avatar-zhuyaozong.jpg">
        </div>
        <div class="col-md-8">
          <div class="name">{{__ 'team-card3-name'}}</div>
          <div class="office">{{__ 'team-card3-office'}}</div>
          <ul class="info">
            <li>{{__ 'team-card3-text1'}}</li>
            <li>{{__ 'team-card3-text2'}}</li>
            <li>{{__ 'team-card3-text3'}}</li>
            <li>{{__ 'team-card3-text4'}}</li>
          </ul>
        </div>
      </div>
      <div id="ap" class="row card">
        <div class="col-md-4">
          <img class="avatar" src="/images/avatar-linxiaoxiao.jpg">
        </div>
        <div class="col-md-8">
          <div class="name">{{__ 'team-card4-name'}}</div>
          <div class="office">{{__ 'team-card4-office'}}</div>
          <ul class="info">
            <li>{{__ 'team-card4-text1'}}</li>
            <li>{{__ 'team-card4-text2'}}</li>
            <li>{{__ 'team-card4-text3'}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}