{{> banner-other}}
<div class="page-knowledge">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="article-list">
          <li>
            <div class="number">01</div>
            <div class="article">
              <div class="title">什么是REITs?</div>
              <div class="content">
                <p>REITs，或房地产投资信托基金，是一种专门投资于房地产行业的投资基金。</p>
                <p>房地产投资信托基金（REITs）的构想来自于共同基金（Mutual Fund），其运作的基本内涵是由受托机构向投资人募集资金，成立房地产投资信托基金，然后用以投资房地产、房地产相关权利、房地产相关有价证券、或其它主管机构核准投资的标的。</p>
                <p>同时发行房地产投资信托基金受益证券，以明确投资人对于信托财产的权利，REITs 所得到的利益由全体受益人依照房地产投资信托基金契约的约定共享。</p>
                <p>因此，REITs 的投资人涵盖机构投资人与小额投资人。再者 REITs 可以像股票一般在公开市场上交易，满足机构投资人和一般小额投资人的需求。在美国，房地产证券化商品已被投资者视为在股票、债券、现金之外的第四类资产，增加资产配置的多样性，分散投资风险。</p>
                <p>在 2005 年美国国会已经通过法案，将 REITs 产品推荐为企业年金、社会保障基金、退休基金、保险基金的投资产品。</p>
              </div>
            </div>
          </li>
          <li>
            <div class="number">02</div>
            <div class="article">
              <div class="title">REITs的主要形态种类</div>
              <div class="content">
                <p>一般来讲REITs可分为权益型(Equity) 、抵押型(Mortgage)、与混合型(Hybrid)等三种基本型态。</p>
                <p>权益型（Equity REITs）：直接经营具有收益性房地产的投资组合，主要收入来自租金，或买卖房地产的交易利润。权益型REITs 投资组合视其经营策略的差异有很大不同，常见投资的房地产类型包括购物中心、公寓、医疗中心、办公大楼、工业区、餐厅、旅馆、游乐区或混合型态等等。</p>
                <p>抵押权型（Mortgage REITs）：这类REITs 主要是扮演金融中介的角色，将所募集的资金用于发放各种抵押贷款，收入来源是发放抵押贷款所收取的手续费和抵押贷款利息，以及参与抵押贷款所获抵押的房地产的部分租金与增值收益。由于投资标的是以放款债权或相关证券为主，而不是投资房地产本身，所以以利息收入为其主要收益来源，收益性类似一般债券，与市场利率的升降呈反向的变动关系。</p>
                <p>混合型（Hybrid REITs）：混合型房地产投资信托基金就是权益型和抵押权型的综合体，其主要投资标的包括房地产本身及抵押放款债权，其中二者投资比率则由经理人依据市场景气及利率变动进行调整。</p>
              </div>
            </div>
          </li>
          <li>
            <div class="number">03</div>
            <div class="article">
              <div class="title">我为什么该投资 REITs??</div>
              <div class="content">
                <p>REITs是一种计算总回报的投资。他们通常提供高股息加上长期的资本增值。 REITs的长期总回报率总体高于那些高风险、高成长的股票，并且其回报率也高于那些低风险的债券。</p>
                <p>REITs公司必须每年将至少 90%的应纳税收入分配给股东。因此,REITs往往成为这些公司中支付红利最高的。该分红主要来自于相对稳定和可预测的租金支付。出租利率通常在通货膨胀时期上涨，因此在通货膨胀时期REITs分红会得到保护，免受价格上涨的长期腐蚀影响。投资人之所以会选择 REITs ，是因为其高成长潜力和长期而言相对稳定的资本增值。</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    {{!-- <div class="row">
      <div class="articles">
        {{#each articles}}
          <div class="col-md-6 card">
            <a href="article?id={{this.id}}">
              <div class="cover">
                <img src="/images/{{this.cover}}">
              </div>
              <div class="title">{{this.title}}</div>
              <div class="date">{{this.date}}</div>
              <div class="content">{{this.content}}</div>
            </a>
          </div>
        {{/each}}
      </div>
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </div> --}}
  </div>
</div>

{{> footer}}
{{> scripts}}