{{> banner-other}}
<div class="page-knowledge">
  <div class="container">
    {{#if articleData.articles}}
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <ul class="articles">
            {{#each articleData.articles}}
            <li>
              <a href="/knowledge/article/{{this.id}}">
                <div class="wx-cover">
                  <img src="{{this.cover}}">
                </div>
                <div class="article">
                  <div class="title">{{this.title}}</div>
                  <div class="date">{{dateFormat this.date 'unix'}}</div>
                  <div class="summary">{{this.summary}}</div>
                </div>
              </a>
            </li>
            {{/each}}
        </ul>
        {{#ifCond articleData.total '>' 1}}
        <div id="paginationHolder" class="pagination-holder" data-total={{articleData.total}} data-current={{articleData.current}}></div>
        {{/ifCond}}
      </div>
    </div>
    {{/if}}
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <ul class="article-list">
          <li>
            <div class="article">
              <div class="title">{{__ 'knowledge-article1-title'}}</div>
              <div class="content">
                <p>{{__ 'knowledge-article1-content1'}}</p>
                <p>{{__ 'knowledge-article1-content2'}}</p>
                <p>{{__ 'knowledge-article1-content3'}}</p>
              </div>
            </div>
          </li>
          <li>
            <div class="article">
              <div class="title">{{__ 'knowledge-article2-title'}}</div>
              <div class="content">
                <p>{{__ 'knowledge-article2-content1'}}</p>
                <p>{{__ 'knowledge-article2-content2'}}</p>
                <p>{{__ 'knowledge-article2-content3'}}</p>
                <p>{{__ 'knowledge-article2-content4'}}</p>
              </div>
            </div>
          </li>
          <li>
            <div class="article">
              <div class="title">{{__ 'knowledge-article3-title'}}</div>
              <div class="content">
                <p>{{__ 'knowledge-article3-content1'}}</p>
                <p>{{__ 'knowledge-article3-content2'}}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}
<script src="/libs/jquery.bootpag.js"></script>
<script src="/scripts/knowledge.js{{fileTail}}"></script>
