<div class="page-beta-intro">
  <div class="banner">
    <div class="container">
      <img src="/images/beta-banner-title.png" alt="" class="title">
    </div>
  </div>

  <div class="mission">
    <div class="container">
      <div class="title">完成测试任务 轻松获得奖励</div>
      <div class="sub-title">我们以发行测试资产的方式来发布公测任务，用户可以通过流转测试资产获得相应奖励，也可以访问瑞资链官方论坛参与盖楼、提交BUG等方式赢取更多RTSt奖励。</div>
      <img src="/images/beta-icon-stars.png" class="icon">
      <div class="rules">
        <div class="rules-title">进行中的活动</div>
        <div class="rules-list">
          <p>每日交易活动</p>
          <p>用户每日流转测试资产，达到任务要求即可获得丰厚奖励，第1期奖励总量为100万RTSt。<a href="/explorer/asset/2/intro" target="_blank">玩法介绍>></a></p>
        </div>
      </div>
    </div>
  </div>

  <div id="download" class="download">
    <div class="container">
      <div class="desc">
        <span>以下程序为瑞资链公测体验版，各项功能随时会进行调试和修改，如有无法运行、注册、挂失等情况请耐心等待或尝试使用其他版本程序。</span>
      </div>
      <div class="row">
        {{#if walletVersion}}
        <div class="col-md-2 col-sm-2 col-md-offset-1 col-sm-offset-1">
          <div class="box" title="" data-original-title="64位操作系统">
            <i class="fa fa-windows"></i>
            <div class="name">Windows</div>
            <a href="http://oq7hdxsc2.bkt.clouddn.com/wallet_{{walletVersion.version}}.exe" class="btn btn-download">下载</a>
          </div>
        </div>
        <div class="col-md-2 col-sm-2">
          <div class="box" title="" data-original-title="Mac OS X">
            <i class="fa fa-apple"></i>
            <div class="name">Mac</div>
            <a href="http://oq7hdxsc2.bkt.clouddn.com/wallet_{{walletVersion.version}}.dmg" class="btn btn-download">下载</a>
          </div>
        </div>
        <div class="col-md-2 col-sm-2">
          <div class="box" title="" data-original-title="Linux">
            <i class="fa fa-linux"></i>
            <div class="name">Linux</div>
            <a href="http://oq7hdxsc2.bkt.clouddn.com/wallet_{{walletVersion.version}}.zip" class="btn btn-download">下载</a>
          </div>
        </div>
        <div class="col-md-2 col-sm-2">
          <div class="box-qrcode" title="" data-original-title="安卓系统4.2及以上">
            <a href="http://oq7hdxsc2.bkt.clouddn.com/wallet_{{walletVersion.version}}.apk">
            <div class="android-qrcode" data-url="http://oq7hdxsc2.bkt.clouddn.com/wallet_{{walletVersion.version}}.apk"></div>
            </a>
            <div class="name">Android</div>
          </div>
        </div>
        <div class="col-md-2 col-sm-2">
          <div class="box disabled" title="" data-original-title="审核中">
            <i class="fa fa-mobile-phone"></i>
            <div class="name">iOS</div>
            <a class="btn btn-download">即将推出</a>
          </div>
        </div>
        {{else}}
        <div class="col-lg-12">好像出错了，请稍后再来看看吧</div>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="footer-banner">
    <div class="container">
      <div class="title">更多精彩活动敬请期待……</div>
      <div class="content">
        <p>如何获取更多公测信息：</p>
        <p>1.加入瑞资链公测QQ群：253988302</p>
        <p>2.访问瑞资官方论坛：http://8btc.com/reits</p>
        <p>3.关注瑞资官方微信和微博</p>
        <img src="/images/beta-qrcode.png" class="qrcode">
        <p>如果您是媒体、投资人或者有合作意向请邮件联系 <a href="mailto:BD@reitsfax.com" class="link-email">BD@reitsfax.com</a></p>
        <div class="explain">*瑞资团队保留所有活动解释权</div>
      </div>
    </div>
  </div>
</div>
{{> footer}}
{{> scripts}}
<script src="/libs/jquery.qrcode.min.js"></script>
<script src="/scripts/beta-intro.js{{fileTail}}"></script>
