<!DOCTYPE html>
<!--[if lte IE 7]> <html class="ie7"> <![endif]-->
<!--[if IE 8]> <html class="ie8"> <![endif]-->
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="瑞资科技，专心让区块链技术落地。">
  <meta name="keywords" content="瑞资,瑞资链,瑞资北京,REITs,REITsChain,资产证券化,区块链,区块链金融">
  <meta name="format-detection" content="telephone=no, email=no">
  <title>瑞资链</title>
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/default.css{{fileTail}}">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <!--[if lt IE 9]>
  <script src="/libs/html5shiv.min.js"></script>
  <script src="/libs/respond.min.js"></script>
  <![endif]-->
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>

<body>
<div class="page-downloads">
  <div class="head-logo">
    <img src="/images/logo-simple.png" alt="瑞资链" class="header-logo">
  </div>
  <div class="nav-holder">
    <div class="container">
      <ul class="nav-list">
        <li>
          <a href="/">首页</a>
        </li>
        <li>
          <a href="http://blog.reitschain.com">博客</a>
        </li>
        <li>
          <a href="https://reitschain.com/ico">ICO</a>
        </li>
        <li>
          <a href="https://github.com/REITs-Chain/white-paper" target="_blank">白皮书</a>
        </li>
        <li>
          <a class="active">下载钱包</a>
        </li>
        <li>
          <a href="/explorer">区块链浏览器</a>
        </li>
        <li>
          <a href="https://github.com/reits-zyz/rts-thin.git">瑞资链源码</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="head-banner">
    <div class="download-holder">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <div class="row">
              <div class="col-md-7 col-sm-7 col-xs-12 download-left">
                <div class="title">瑞资链钱包客户端</div>
                <div class="desc">基于瑞资链的轻钱包应用1.0版，集合资产发行资料展示、资产流传、钱包挂失等基础功能。未来轻钱包2.0版即将加入用户交互、社区治理、资产分红等更令人激动的功能。</div>
                <div class="links">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 qrcode-box">
                      <div class="ios-qrcode" data-url="{{data.ios.url}}"></div>
                      <div class="qrcode-mes">
                        <div class="code-type">IOS</div>
                        <div class="size">大小：{{data.ios.size}}</div>
                        <div class="version">版本：{{data.ios.version}}</div>
                        <div class="use-system">适应系统：{{data.ios.useSystem}}</div>
                        <div class="time">更新时间：{{data.ios.time}}</div>
                        <div class="btn-link">
                          <a href="{{data.ios.url}}" target="_blank"><img src="/images/btn-download-ios.png"></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12 qrcode-box">无法下载的用户请加微信secret835706或wnl9105，回复【ios正式版钱包下载】，获取下载教程。</div>
                  </div>
                </div>
                <div class="links">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 qrcode-box">
                      <div class="android-qrcode" data-url="{{data.android.url}}"></div>
                      <div class="qrcode-mes">
                        <div class="code-type">Android</div>
                        <div class="size">大小：{{data.android.size}}</div>
                        <div class="version">版本：{{data.android.version}}</div>
                        <div class="use-system">适应系统：{{data.android.useSystem}}</div>
                        <div class="time">更新时间：{{data.android.time}}</div>
                        <div class="btn-link">
                          <a href="{{data.android.url}}" target="_blank"><img src="/images/btn-download-android.png"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-5 col-sm-5 hidden-xs download-right">
                <img src="/images/downloads-phone.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="points">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <div class="row points-row">
              <div class="col-box col-md-3 col-sm-4">
                <div class="box">
                  <div class="title">RRB</div>
                  <div class="text">全实名制区块链</div>
                </div>
              </div>
              <div class="col-box col-md-3 col-sm-4">
                <div class="box">
                  <div class="title">Multi-DLT</div>
                  <div class="text">40亿种独立资产</div>
                </div>
              </div>
              <div class="col-box col-md-6 col-sm-4">
                <div class="box">
                  <div class="title">Private Key Recovery</div>
                  <div class="text">密钥丢失可通过挂失找回资产</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-block">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="title">瑞资（北京）科技有限公司</div>
            <div class="detail">
              <p>地址：北京市朝阳区望京国际商业中心F座B楼</p>
              <p>电话：<a href="tel:400-0599980">400-0599980</a></p>
              <p>邮箱：<a href="mailto:bd@reitsfax.com">bd@reitsfax.com</a></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="title">社交媒体</div>
            <div class="detail">
              <p>
                <a id="wechat">微信公众号</a>
              </p>
              <p>
                <a href="http://weibo.com/u/5999479802" target="_blank">官方微博</a>
              </p>
              <p>
                <a href="http://8btc.com/forum-133-1.html" target="_blank">论坛</a>
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="title">其它</div>
            <div class="detail">
              <p>
                <a href="/explorer">区块链浏览器</a>
              </p>
              <p>
                <a href="https://github.com/REITs-Chain/white-paper" target="_blank">瑞资链白皮书</a>
              </p>
              <p>
                <a href="/terms">服务条款</a>
              </p>
            </div>
          </div>
        </div>
        <div class="copyright">© 瑞资链 &nbsp;|&nbsp; 京ICP备16039726号-1</div>
      </div>
    </div>
  </div>
  <div class="wechat-qrcode hide">
    <a class="wechat-close"><i class="glyphicon glyphicon-remove-circle"></i></a>
    <img src="/images/wechat-qrcode.png" alt="">
  </div>
</div>
{{> scripts}}
<script src="/libs/jquery.qrcode.min.js"></script>
<script src="/scripts/downloads.js{{fileTail}}"></script>
</body>
</html>
