<!DOCTYPE html>
<!--[if lte IE 7]> <html class="ie7"> <![endif]-->
<!--[if IE 8]> <html class="ie8"> <![endif]-->
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="瑞资科技，专心让区块链技术落地。">
  <meta name="keywords" content="瑞资,瑞资链,瑞资北京,REITs,REITsChain,资产证券化,区块链,区块链金融">
  <meta name="format-detection" content="telephone=no, email=no">
  <title>瑞资链</title>
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/default.css{{fileTail}}">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <!--[if lt IE 9]>
  <script src="/libs/html5shiv.min.js"></script>
  <script src="/libs/respond.min.js"></script>
  <![endif]-->
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>

<body>
<div class="page-downloads">


  <div class="head-banner">
    <div class="download-holder">
      <div class="">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <div class="row">
              <div class="col-md-7 col-sm-7 col-xs-12 download-left">
                <div class="title">NRC钱包客户端</div>
                <div class="desc">
                  Nova Realm City 是全球首个基于实名制区块链技术建立的虚拟社区，
                  可面向全球提供资产数字化服务，并以建立独立数字资产社区的方式让社区建立者和支持者直接互动，
                  并让社区成员（即持有者）充分参与到社区或项目的建设中。颠覆传统的社区组织架构，
                  让社区基于价值互动进行项目构建和社区发展，进而提升社区的价值。
                </div>
                <div class="row">
                  <div class="links col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 qrcode-box">
                        <div class="ios-qrcode" data-url="{{data.ios.url}}"></div>
                        <div class="qrcode-mes">
                          <div class="code-type">IOS</div>
                          <div class="size">大小：{{data.ios.size}}</div>
                          <div class="version">版本：{{data.ios.version}}</div>
                          <div class="use-system">适应系统：{{data.ios.useSystem}}</div>
                          <div class="time">更新时间：{{data.ios.time}}</div>
                          <div class="btn-link">
                            <a href="{{data.ios.url}}" target="_blank"><img src="/images/btn-download-ios.png"></a>
                          </div>
                        </div>
                      </div>
                      <!--<div class="col-md-12 col-sm-12 qrcode-box">无法下载的用户请加微信secret835706或wnl9105，回复【ios正式版钱包下载】，获取下载教程。</div>-->
                    </div>
                  </div>
                  <div class="links col-md-6 col-sm-6 col-xs-12">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 qrcode-box">
                      <div class="android-qrcode" data-url="{{data.android.url}}"></div>
                      <div class="qrcode-mes">
                        <div class="code-type">Android</div>
                        <div class="size">大小：{{data.android.size}}</div>
                        <div class="version">版本：{{data.android.version}}</div>
                        <div class="use-system">适应系统：{{data.android.useSystem}}</div>
                        <div class="time">更新时间：{{data.android.time}}</div>
                        <div class="btn-link">
                          <a href="{{data.android.url}}" target="_blank"><img src="/images/btn-download-android.png"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 hidden-xs download-right">
                <img src="/images/download-phone.png">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


  </div>

</div>
{{> scripts}}
<script src="/libs/jquery.qrcode.min.js"></script>
<script src="/scripts/downloads.js{{fileTail}}"></script>
</body>
</html>
