<div class="page-help-pos">
  <div class="container">
    <div class="title">{{__ 'help-pos-title'}}</div>
    <div class="content">
      <h5>{{__ 'help-pos-content1-title'}}</h5>
      <p>{{__ 'help-pos-content1-1'}}</p>
      <p>{{__ 'help-pos-content1-2'}}</p>
      <h5>{{__ 'help-pos-content2-title'}}</h5>
      <p>{{__ 'help-pos-content2-1'}}</p>
      <h5>{{__ 'help-pos-content3-title'}}</h5>
      <p>{{__ 'help-pos-content3-1'}}</p>
      <p>{{__ 'help-pos-content3-2'}}</p>
      <h5>{{__ 'help-pos-content4-title'}}</h5>
      <p>{{__ 'help-pos-content4-1'}}</p>
      <p>{{__ 'help-pos-content4-2'}}</p>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}
