<div class="page-home">
  <div class="banner-home">
    <div class="container">
      <div class="intro">
        <div class="title">{{__ 'home-intro-title1'}}</div>
        <div class="plus">+</div>
        <div class="content">
          <p>{{__ 'home-intro-content1'}}</p>
          <p>{{__ 'home-intro-content2'}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="values">
    <div class="container">
      <div class="holder">
        <div class="title">{{__ 'home-values-title'}}</div>
        <div class="content">{{__ 'home-values-content'}}</div>
        <a href="/values" class="btn-more">{{__ 'home-more'}}</a>
      </div>
    </div>
  </div>
  <div class="market">
    <div class="container">
      <div class="title">{{__ 'home-market-title'}}</div>
      <div class="content">
        <div class="row">
          <div class="col-md-6 hidden-sm hidden-xs">
            <img class="picture" src="/images/home-market.png">
          </div>
          <div class="col-md-6">
            <div class="text">
              <p>{{__ 'home-market-content1'}}</p>
              <p>{{__ 'home-market-content2'}}</p>
            </div>
            <a href="/values" class="more">{{__ 'home-more'}} ❯</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="power">
    <div class="container">
      <div class="title">{{__ 'home-power-title'}}</div>
      <div class="content">
        <div class="row">
          <div class="col-md-8">
            <div class="text">
              <p>{{__ 'home-power-content1'}}</p>
              <p>{{__ 'home-power-content2'}}</p>
            </div>
            <a href="/values" class="more">{{__ 'home-more'}} ❯</a>
          </div>
          <div class="col-md-4 hidden-sm hidden-xs">
            <img class="picture" src="/images/home-power.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="solutions">
    <div class="container">
      <div class="title">{{__ 'home-solutions-title'}}</div>
      <div class="content">
        <div class="row">
          <div class="col-md-6 hidden-sm hidden-xs">
            <img class="picture" src="/images/home-solutions.png">
          </div>
          <div class="col-md-6">
            <div class="text">
              <p>{{{__ 'home-solutions-content1'}}}</p>
              <p class="note">{{{__ 'home-solutions-content2'}}}</p>
            </div>
            <a href="/values" class="more">{{__ 'home-more'}} ❯</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="service">
    <div class="container">
      <div class="title">{{__ 'home-service-title'}}</div>
      <div class="content">
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <a href="/service">
                <div class="card-title">
                  <i class="icon icon-securities"></i>
                  <p>{{__ 'home-service-card1-title'}}</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <a href="/service">
                <div class="card-title">
                  <i class="icon icon-transaction"></i>
                  <p>{{__ 'home-service-card2-title'}}</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <a href="/service">
                <div class="card-title">
                  <i class="icon icon-building"></i>
                  <p>{{__ 'home-service-card3-title'}}</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <a href="/service">
                <div class="card-title">
                  <i class="icon icon-shakehands"></i>
                  <p>{{__ 'home-service-card4-title'}}</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="team">
    <div class="container">
      <div class="title">{{__ 'home-team-title'}}</div>
      <div class="content">
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <a href="/team">
                <img src="/images/avatar-liujian.png" class="team-avatar">
                <div class="name">{{__ 'home-team-name1'}}</div>
                <div class="office">{{__ 'home-team-office1'}}</div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <a href="/team">
                <img src="/images/avatar-zhuyaozong.png" class="team-avatar">
                <div class="name">{{__ 'home-team-name2'}}</div>
                <div class="office">{{__ 'home-team-office2'}}</div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <a href="/team">
                <img src="/images/avatar-yanzhi.png" class="team-avatar">
                <div class="name">{{__ 'home-team-name3'}}</div>
                <div class="office">{{__ 'home-team-office3'}}</div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <a href="/team">
                <img src="/images/avatar-linxiaoxiao.png" class="team-avatar">
                <div class="name">{{__ 'home-team-name4'}}</div>
                <div class="office">{{__ 'home-team-office4'}}</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="knowledge">
    <div class="container">
      <div class="title">{{__ 'home-knowledge-title'}}</div>
      <div class="content">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <ul class="article-list">
              <li>
                <div class="number">01</div>
                <div class="article">
                  <div class="article-title">{{__ 'home-knowledge-article1-title'}}</div>
                  <div class="article-content">
                    <p>{{__ 'home-knowledge-article1-content1'}}</p>
                    <p>{{__ 'home-knowledge-article1-content2'}}</p>
                    <p>{{__ 'home-knowledge-article1-content3'}}</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="number">02</div>
                <div class="article">
                  <div class="article-title">{{__ 'home-knowledge-article2-title'}}</div>
                  <div class="article-content">
                    <p>{{__ 'home-knowledge-article2-content1'}}</p>
                    <p>{{__ 'home-knowledge-article2-content2'}}</p>
                    <p>{{__ 'home-knowledge-article2-content3'}}</p>
                    <p>{{__ 'home-knowledge-article2-content4'}}</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="number">03</div>
                <div class="article">
                  <div class="article-title">{{__ 'home-knowledge-article3-title'}}</div>
                  <div class="article-content">
                    <p>{{__ 'home-knowledge-article3-content1'}}</p>
                    <p>{{__ 'home-knowledge-article3-content2'}}</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div id="articles" class="row"></div>
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}
<script src="/scripts/home.js{{fileTail}}"></script>
