{{> banner-other}}
<div class="page-knowledge">
  <div class="container">
    <div id="articles" class="row"></div>
  </div>
  <div class="article-list">
    <div class="article">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="title">{{__ 'knowledge-article1-title'}}</div>
            <div class="content">
              <p>{{__ 'knowledge-article1-content1'}}</p>
              <p>{{__ 'knowledge-article1-content2'}}</p>
              <p>{{__ 'knowledge-article1-content3'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="article">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="title">{{__ 'knowledge-article2-title'}}</div>
            <div class="content">
              <p>{{__ 'knowledge-article2-content1'}}</p>
              <p>{{__ 'knowledge-article2-content2'}}</p>
              <p>{{__ 'knowledge-article2-content3'}}</p>
              <p>{{__ 'knowledge-article2-content4'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="article">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="title">{{__ 'knowledge-article3-title'}}</div>
            <div class="content">
              <p>{{__ 'knowledge-article3-content1'}}</p>
              <p>{{__ 'knowledge-article3-content2'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}
<script src="/libs/jquery.bootpag.js"></script>
<script src="/scripts/knowledge.js{{fileTail}}"></script>
