<div class="banner-service hidden-xs"></div>
<div class="page-service">
  <div class="card">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="title">{{__ 'service-card1-title'}}</div>
          <div class="content">
            <p>{{__ 'service-card1-content1'}}</p>
            <p>{{__ 'service-card1-content2'}}</p>
            <p>{{__ 'service-card1-content3'}}</p>
            <p>{{__ 'service-card1-content4'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="title">{{__ 'service-card2-title'}}</div>
          <div class="content">
            <p>{{__ 'service-card2-content1'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="title">{{__ 'service-card3-title'}}</div>
          <div class="content">
            <p>{{__ 'service-card3-content1'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="title">{{__ 'service-card4-title'}}</div>
          <div class="content">
            <p>{{__ 'service-card4-content1'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}