{{> banner-other}}
<div class="page-service">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="card">
          <div class="title"><span class="underline">{{__ 'service-card1-title'}}</span></div>
          <div class="content">
            <p>{{__ 'service-card1-content1'}}</p>
            <p>{{__ 'service-card1-content2'}}</p>
            <p>{{__ 'service-card1-content3'}}</p>
            <p>{{__ 'service-card1-content4'}}</p>
          </div>
        </div>
        <div class="card">
          <div class="title"><span class="underline">{{__ 'service-card2-title'}}</span></div>
          <div class="content">
            <p>{{__ 'service-card2-content1'}}</p>
          </div>
        </div>
        <div class="card">
          <div class="title"><span class="underline">{{__ 'service-card3-title'}}</span></div>
          <div class="content">
            <p>{{__ 'service-card3-content1'}}</p>
          </div>
        </div>
        <div class="card">
          <div class="title"><span class="underline">{{__ 'service-card4-title'}}</span></div>
          <div class="content">
            <p>{{__ 'service-card4-content1'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}