<div class="page-terms">
  <div class="container">
    <div class="title">{{__ 'terms-title'}}</div>
    <div class="content">
      <p>{{__ 'terms-intro-1'}}</p>
      <p>{{__ 'terms-intro-2'}}</p>

      <h5>{{__ 'terms-content-1-title'}}</h5>
      <p>{{__ 'terms-content-1-1'}}</p>
      <p>{{__ 'terms-content-1-2'}}</p>
      <p>{{__ 'terms-content-1-2-1'}}</p>
      <p>{{__ 'terms-content-1-2-2'}}</p>
      <p>{{__ 'terms-content-1-3'}}</p>
      <p>{{__ 'terms-content-1-3-1'}}</p>
      <p>{{__ 'terms-content-1-3-2'}}</p>

      <h5>{{__ 'terms-content-2-title'}}</h5>
      <p>{{__ 'terms-content-2-1'}}</p>
      <p>{{__ 'terms-content-2-2'}}</p>
      <p>{{__ 'terms-content-2-3'}}</p>
      <p>{{__ 'terms-content-2-3-1'}}</p>
      <p>{{__ 'terms-content-2-3-2'}}</p>

      <h5>{{__ 'terms-content-3-title'}}</h5>
      <p>{{__ 'terms-content-3-1'}}</p>
      <p>{{__ 'terms-content-3-1-1'}}</p>
      <p>{{__ 'terms-content-3-1-2'}}</p>
      <p>{{__ 'terms-content-3-1-3'}}</p>
      <p>{{__ 'terms-content-3-1-4'}}</p>
      <p>{{__ 'terms-content-3-2'}}</p>
      <p>{{__ 'terms-content-3-3'}}</p>
      <p>{{__ 'terms-content-3-3-1'}}</p>
      <p>{{__ 'terms-content-3-3-2'}}</p>
      <p>{{__ 'terms-content-3-3-3'}}</p>

      <h5>{{__ 'terms-content-4-title'}}</h5>
      <p>{{__ 'terms-content-4-1'}}</p>
      <p>{{__ 'terms-content-4-1-1'}}</p>
      <p>{{__ 'terms-content-4-1-2'}}</p>
      <p>{{__ 'terms-content-4-1-3'}}</p>
      <p>{{__ 'terms-content-4-1-4'}}</p>
      <p>{{__ 'terms-content-4-1-5'}}</p>
      <p>{{__ 'terms-content-4-2'}}</p>
      <p>{{__ 'terms-content-4-3'}}</p>
      <p>{{__ 'terms-content-4-4'}}</p>
      <p>{{__ 'terms-content-4-5'}}</p>
      <p>{{__ 'terms-content-4-6'}}</p>
      <p>{{__ 'terms-content-4-7'}}</p>

      <h5>{{__ 'terms-content-5-title'}}</h5>
      <p>{{__ 'terms-content-5-1'}}</p>
      <p>{{__ 'terms-content-5-1-1'}}</p>
      <p>{{__ 'terms-content-5-1-2'}}</p>
      <p>{{__ 'terms-content-5-1-3'}}</p>
      <p>{{__ 'terms-content-5-1-4'}}</p>
      <p>{{__ 'terms-content-5-1-5'}}</p>
      <p>{{__ 'terms-content-5-1-6'}}</p>
      <p>{{__ 'terms-content-5-1-7'}}</p>
      <p>{{__ 'terms-content-5-1-8'}}</p>
      <p>{{__ 'terms-content-5-1-9'}}</p>
      <p>{{__ 'terms-content-5-1-10'}}</p>
      <p>{{__ 'terms-content-5-2-part1'}}</p>
      <p>{{__ 'terms-content-5-2-part2'}}</p>
      <p>{{__ 'terms-content-5-3-part1'}}</p>
      <p>{{__ 'terms-content-5-3-part2'}}</p>
      <p>{{__ 'terms-content-5-4'}}</p>

      <h5>{{__ 'terms-content-6-title'}}</h5>
      <p>{{__ 'terms-content-6-1'}}</p>
      <p>{{__ 'terms-content-6-2'}}</p>
      <p>{{__ 'terms-content-6-3'}}</p>
      <p>{{__ 'terms-content-6-4'}}</p>
      <p>{{__ 'terms-content-6-5'}}</p>
      <p>{{__ 'terms-content-6-6'}}</p>
      <p>{{__ 'terms-content-6-7'}}</p>

      <h5>{{__ 'terms-content-7-title'}}</h5>
      <p>{{__ 'terms-content-7-1'}}</p>
      <p>{{__ 'terms-content-7-2'}}</p>

      <h5>{{__ 'terms-content-8-title'}}</h5>
      <p>{{__ 'terms-content-8-1'}}</p>

      <h5>{{__ 'terms-content-9-title'}}</h5>
      <p>{{__ 'terms-content-9-1'}}</p>
    </div>
  </div>
</div>
{{> footer}}
{{> scripts}}
