{{> banner-other}}
<div class="page-values">
  <div class="card">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="title">{{__ 'values-card1-title'}}</div>
          <div class="content">
            <p>{{__ 'values-card1-content1'}}</p>
            <p>{{__ 'values-card1-content2'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="title">{{__ 'values-card2-title'}}</div>
          <div class="content">
            <p>{{__ 'values-card2-content1'}}</p>
            <p>{{__ 'values-card2-content2'}}</p>
            <p>{{__ 'values-card2-content3'}}</p>
            <p>{{__ 'values-card2-content4'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="title">{{__ 'values-card3-title'}}</div>
          <div class="content">
            <p>{{__ 'values-card3-content1'}}</p>
            <p>{{__ 'values-card3-content2'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="title">{{__ 'values-card4-title'}}</div>
          <div class="content">
            <p>{{{__ 'values-card4-content1'}}}</p>
            <p class="note">{{{__ 'values-card4-content2'}}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{> footer}}
{{> scripts}}
