{{> banner-other}}
<div class="page-contact">
  <div class="container">
    <div class="cards">
      <div class="row card">
        <div class="col-md-1"></div>
        <div class="col-md-6">
          <div class="name">{{__ 'contact-card1-name'}}</div>
          <p class="text">{{__ 'contact-card1-text1'}}</p>
          <p class="text">{{__ 'contact-card1-text2'}}</p>
          <p class="text">{{__ 'contact-card1-text3'}}</p>
        </div>
        <div class="col-md-5">
          <div class="wechat">
            <img src="/images/wechat.png">
            <p>{{__ 'contact-wechat'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}